[NetDev]
Name = bat_{{ item.handle }}
Kind = batadv
{# MACAddress = de:ad:ca:{{ formatted_gwid }}:07:{{ "%02d" | format(item.vni) }} #}


[BatmanAdvanced]
GatewayMode = server
OriginatorIntervalSec = 5
GatewayBandwidthDown = 150M
GatewayBandwidthUp = 150M
RoutingAlgorithm = batman-iv
