[NetDev]
Name = gwvpn_{{ "%02d" | format(hostvars[item].gwid) }}
Kind = gretap
# MTUBytes = 1378
MACAddress = de:ad:ca:{{ formatted_gwid }}:03:{{ "%02d" | format(hostvars[item].gwid) }}


[Tunnel]
Remote = {{ hostvars[item]['ansible_default_ipv4']['address'] }}
Local = {{ ansible_default_ipv4.address }}
Independent = true

{#
[VXLAN]
VNI = 2
Remote = {{ hostvars[item]['ansible_default_ipv4']['address'] }}
Local = {{ ansible_default_ipv4.address }}
Independent = yes
#}
