[Match]
Name = gwvpn

[Network]
IPv6AcceptRA = no
LinkLocalAddressing = ipv6

{% for domain in domain_networks %}
{# VXLAN = gwvpn_{{ domain.handle }} #}
VLAN = gwvpn_{{ domain.handle }}
{% endfor %}


[Address]
Address = {{ gwvpn_network | ansible.utils.ipaddr(gwid) }}

[Address]
Address = {{ gwvpn_network_ula | ansible.utils.ipaddr(gwid) }}
